body {
	margin: 0px;
	padding: 0px;
}
header {
	background: #5b6169;
	color: #fff;
}
.wrap {
	height: 90px;
	max-width: 980px;
	margin: 0 auto;
	position: relative;
}
.logo {
	font-size: 22px;
	line-height: 22px;
	padding-top: 5.5px;
	margin-left: 20px;
	position: absolute;
}
.logo a{
	text-transform: uppercase;
	text-decoration: none;
	background: linear-gradient(to bottom, rgb(252, 252, 252), rgb(156, 156, 156));
	color: transparent;
    -webkit-background-clip: text;	
}
.logo span{
	font-size: 12px;
	text-transform: lowercase;
	background: linear-gradient(to bottom, rgb(252, 252, 252), rgb(156, 156, 156));
	color: transparent;
    -webkit-background-clip: text;	
}
nav {
	position: absolute;
	right: 0;
	top: 35px;
	padding-right: 20px;
}
nav>ul>li {
	float:left;
	list-style: none;
}
nav ul li a {
	text-decoration: none;
	color: #fff;
	padding: 15px 15px;
	margin: 0px 5px;
} 
nav ul li a:hover {
	text-decoration: none; 
	border-radius: 4px;
	background: rgb(0, 0, 0);
    background: -moz-linear-gradient(90deg, rgb(160, 160, 160) 0%, rgb(255, 255, 255) 100%);
    background: -webkit-linear-gradient(90deg, rgb(160, 160, 160) 0%, rgb(255, 255, 255) 100%);
    background: -o-linear-gradient(90deg, rgb(160, 160, 160) 0%, rgb(255, 255, 255) 100%);
    background: -ms-linear-gradient(90deg, rgb(160, 160,160) 0%, rgb(255, 255, 255) 100%);
    background: linear-gradient(180deg, rgb(160,160, 160) 0%, rgb(255, 255, 255) 100%);
}
nav ul li a:visited {
	color: #fff;
	text-decoration: none;
}
.bar-icon {
     display: none;
     background: none;
} 
.slider {
	background: url("../img/slider_background.jpg");
	font-family: "Open Sans";
	min-width: 300px;
}
.about {
	margin-top: 40px;
	background-color: #ccc;
}
.footer {
	height: 60px;
	text-align: center;
	margin-top: 40px;
	font-family: MariadProRegular;
	color: #6f6f6f;
}
.mobile {
	background: url("../img/1.png")  no-repeat;
	background-size: cover;
	min-width: 221px;
	max-width: 323px;
}
.text-app {
	margin: 12% auto;
}
.iosapp {
	font-size: 46px;
	text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}
.lorem {
	font-size: 16px;
	color: #335565;
	text-shadow: 0px 0px 3px rgba(150, 150, 150, 0.5);
}
.button-moreinfo {
	background: #74abda;
	width: 170px;
	height: 40px;
	padding: 8px 45px;
}
.button-moreinfo a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}
.button-moreinfo a:hover {
	text-decoration: none;
	color: grey;
}
.carousel-inner {
	height: 470px;
	width: 50%;
}
.item .active {
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    min-width: 221px;
    height: auto;
}
.carousel-indicators {
    margin-left: 90%;
}
.carousel-indicators .active {
	background: #3674ba;
	border-color: #3674ba; 
}
.carousel-indicators li {
	background: #8cc0ea;
	border-color: #8cc0ea;
}
.carousel {
    margin-top: 30px;
}
.ourservices {
	font-size: 46px;
	text-transform: uppercase;
	text-align: center;
	font-family: Open Sans Light;
	margin-bottom: 40px;
}
.service {
	max-width: 980px;
	text-align: center;
	margin-top: 40px;
}
.icon-circle-blank{
	background: black;
}
.cl {
	color: red;
}
.heading {
	color: #3674ba;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.icons {
	margin-bottom: 20px;
}
.loremb {
	font-family: Arial;
	font-size: 14px;
	line-height: 1.3;
	margin-top: 30px;
	margin-bottom: 30px;
}
.aboutus {
	font-size: 46px;
	text-transform: uppercase;
	text-align: center;
	font-family: Open Sans Light;
	margin-bottom: 40px;
	margin-top: 40px;
	color: #5b6169;


}
.progress-bar {
	text-transform: uppercase;
	padding: 5px 10px;
	text-align: left;
}
.progress {
    height: 30px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #828181;
    border-radius: 0;
}
.heading-test-task {
	color: #7c7c7c;
	font-size: 34px;
	margin-bottom: 10px;

}
.map-responsive{
    overflow:hidden;
    padding-bottom:160px;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:150px;
    width:100%;
    position:absolute;
}
 .wrapper { 
	max-width: 980px;
} 
.form-control {
	border-radius: 0;
	background: #f1f1f1;
}
.form-group {
    margin-bottom: 4px;
}
.input-addon {
    bottom: 0;
    right: 16px;
    position: absolute;
    background: #3674ba;
    padding: 2px 20px;
    color: #fff;
}